<!DOCTYPE html>
<html>
<head>
  <title>zwingmo - lifestyle discovery ingine</title>
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
  <script src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
  <script src="http://ajax.cdnjs.com/ajax/libs/underscore.js/1.1.6/underscore-min.js"></script>
  <%= javascript_include_tag "zwingmo" %>
  <%= javascript_include_tag "jquery.isotope.min" %>
  <%= javascript_include_tag "thickbox-compressed" %>
  
  <%= yield :js %>
  
  <%= stylesheet_link_tag :all %>
  
  <%= csrf_meta_tag %>
  <!-- 
    Real *users* don't do this. Now that you have - why don't you
    say a quick 'hi' to  me - akshay (dot) surve (at) gmail (dot) com
  -->
</head>
<body>

<div id="fb-root"></div>
<script src="http://connect.facebook.net/en_US/all.js" type="text/javascript"></script>
<script type="text/javascript">
//<![CDATA[
  FB.init({
    appId: '<%= Facebook::APP_ID -%>',
    status: true,
    cookie: true,
    xfbml: true,
    oauth: true
  });
//]]>
</script>
<div id="site-container">
  <%= yield %>
  <div id="footer">
    <%= link_to 'about', about_url -%> | <%= link_to 'credits', credits_url -%> | <%= link_to 'by a startup jockey', 'http://startupjockey.com' %>
  </div>
</div>



</body>
</html>